* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    
}

h1 {
    font-family: 'Raleway', sans-serif;
}

.description {
    padding: 20px 0;
    color: rgb(158, 162, 165);
    font-weight: bold;
    font-size: 12px;
}

#left-panel {
    background: linear-gradient(to top right,
            #6560B1, #1a1569);
    width: 45%;
    height: 100vh; /*fills up the entire screen*/
}


#right-panel {
    width: 55%;
}

/*header and nav styles*/

header {
    display: flex;
    justify-content: space-between;
}
/*
#hero-image {
    height: 300px;
    width: 350px;
}

#fylo-image {
    height: 25px;
    width: 90px;
    padding-right: 10%;
}

#social-media {
    display: inline;
}

#facebook-icon,
#twitter-icon,
#email-icon {
    height: 20px;
    width: 20px;
    padding: 0 5px;
}

/*
#left-panel,
#right-panel {
    display: inline-block;
}

header {
    padding-bottom: 40%;
}

h1 {
    margin: 0;
}



#signup-title {
    display: block;
    font-weight: bold;
    padding-bottom: 5px;
}

#signup-box {
    height: 35px;
}

#signup-box::backdrop {
    background: rgba(124, 118, 118, 0.25);
}

#submit-button {
    background-color: turquoise;
    border: none;
    height: 35px;
    width: 25%;
    text-align: center;
    border-radius: 5px;
}

form {
    margin-bottom: 50px;
}

footer {
    text-align: right;
}
*/
#privacy-text {
    text-decoration: none;
    font-size: 10px;
    text-align: right;
}

*/